.Card-container {
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 40%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.backToHome-button{
    position: absolute;
    top: 0px;
    margin: 30px;
}
.Card-container span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 70px;
}
.Card-container h4{
    border-bottom: 1px solid;
    width: 70%;
}
.inputs-side, .img-side{
    width: 50%;
}
.img-side{
    align-items: center;
}
