*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}
.TopBar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    background-color:black;
    color: white;
    align-items:center;
}
.TopBar h1,h3{
    margin:30px;
}